@import "tailwindcss";

/* index.css ya global css mein */
html, body {
  background-color: black;
}
.circlemax{
   
}
.one{
 border-top-right-radius: 50px;
    filter: blur(10px);
    border-bottom-right-radius: 50px;
}
.two{
 border-radius:30%;
 height:30vh;
 width:20vw;
    filter: blur(20px);
animation-name: ss;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function:linear;
animation-direction:alternate;
}
.three{
 height:30vh;
 width:20vw;
 animation-name:sa;

animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function:linear;
animation-direction:alternate-reverse;
 border-radius:30%;
    filter: blur(20px);
    
}

@keyframes ss {
    from{
transform : translate(-10%,10%);

    }

to{
    transform:translate(10%, -5%)
}
}
@keyframes sa {
    from{
transform : translate(-10%,70%);

    }

to{
    transform:translate(10%, -10%)
}
}